<form class="js-form">
	<p class="u-text-uppercase u-text-strong u-text-small u-text-letterspaced u-margin-bottom-48">Where did I see...</p>
	<div class="u-text-xx-large">
		<input class="c-form-control c-form-control--naked c-form-control--link js-form__character" placeholder="{{character}}" type="text" autocomplete="off">
		from
		<input class="c-form-control c-form-control--naked c-form-control--link js-form__show" placeholder="{{show}}" type="text" autocomplete="off">?
	</div>
	<p class="u-text-uppercase u-text-strong u-text-small u-text-letterspaced u-margin-top-48">Press <button class="c-button c-button--link js-form__submit">Enter</button> to find out</p>
</form>
