<form class="o-grid js-form">
	<p class="u-text-uppercase u-text-strong u-text-small u-text-letterspaced u-margin-bottom-48@desktop u-margin-bottom-24@tablet u-margin-bottom-24@mobile">Where did I see...</p>
	<div class="u-text-xx-large@desktop u-text-x-large@tablet u-text-large@mobile">
		<input class="c-form-control c-form-control--naked c-form-control--link js-form__character js-autosize" placeholder="{{character}}" type="text" autocomplete="off">
		from
		<span class="u-nowrap">
			<input class="c-form-control c-form-control--naked c-form-control--link js-form__show js-autosize" placeholder="{{show}}" type="text" autocomplete="off">?
		</span>
	</div>
	<p class="u-text-uppercase u-text-strong u-text-small u-text-letterspaced u-margin-top-48@desktop u-margin-top-24@tablet u-margin-top-24@mobile">Press <button class="c-button c-button--link js-form__submit">Enter</button> to find out</p>
</form>
