{{#if entry}}
<div class="o-grid">
	<ul class="o-list o-list--inline o-list--center u-text-center">
		{{#each entry}}
		<li class="u-margin-24@desktop u-margin-16@tablet u-margin-8@mobile">
			<div class="o-media-object o-media-object--column c-character">
				<div class="o-img o-img--circle c-character__avatar u-margin-bottom-16@desktop u-margin-bottom-16@tablet u-margin-bottom-8@mobile" style="background-image: url({{#https}}{{this.character.image.original}}{{/https}})"></div>
				<div>
					<h3 class="c-character__title">{{this.character.name}}</h3>
					<h4 class="c-character__subtitle u-margin-bottom-16@desktop u-margin-bottom-16@tablet u-margin-bottom-8@mobile">{{this.person.name}}</h4>
					<button class="js-person c-button u-text-small" data-id="{{this.person.id}}">That's the one</button>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>
{{/if}}
