<div class="o-grid">
	<div class="o-grid__row">
		<div class="o-grid__column o-grid__column--10 o-grid__column--offset-1">
			{{#if character}}
				<p>You asked for <strong class="u-text-capitalize">{{character.value}}</strong> in <strong class="u-text-capitalize">{{show.value}}</strong>,<br> we're looking that up for you...</p>
			{{else}}
				<p class="c-title u-margin-bottom-32">Dang, we couldn't find anyone.<p>
				<p class="u-margin-bottom-16">There can be multiple reasons for this:</p>
				<ul class="u-margin-bottom-16">
					<li>Maybe you're looking for a secondary character or a guest.</li>
					<li>Maybe you looked for a movie instead of a show.</li>
					<li>Maybe you mistyped the character's name.</li>
					<li>Maybe you mistyped the show name and it got mixed up with another one<br>
					<em>(eg.: "Beverly Hills" instead of "Beverly Hills 90210" will give different results).</em></li>
				</ul>
				<p>Check out <a href="http://www.imdb.com/title/{{imdbId}}/fullcredits/" target="_blank">IMDB</a> for full cast and credits for <strong>{{show}}</strong> or <span class="c-link">make a new search</span>.</p>
			{{/if}}
		</div>
	</div>
</div>
