// Hidden
//
// Hides anything
//
// Markup:
// <div class="u-hidden">Hidden</div>
// <div class="u-hidden@mobile">Hidden for mobile devices</div>
// <div class="u-hidden@tablet">Hidden for tablet devices</div>
// <div class="u-hidden@desktop">Hidden for desktop devices</div>
//
// Styleguide Utilities.Helpers.hidden

.u-hidden {
	display: none;
	@include responsive-versions {
		display: none;
	}
}

// Nowrap
//
// Sets anything to nowrap
//
// Markup:
// <span class="u-nowrap">Nowrap</span>
// <span class="u-nowrap@mobile">Nowrap for mobile devices</span>
// <span class="u-nowrap@tablet">Nowrap for tablet devices</span>
// <span class="u-nowrap@desktop">Nowrap for desktop devices</span>
//
// Styleguide Utilities.Helpers.nowrap

.u-nowrap {
	white-space: nowrap;
	@include responsive-versions {
		white-space: nowrap;
	}
}

// Pointer
//
// Sets a pointer cursor on any element
//
// Markup:
// <span class="u-pointer">Pointer cursor</span>
//
// Styleguide Utilities.Helpers.pointer

.u-pointer {
	cursor: pointer;
}

// Text
//
// All text manipulations (all benefit from @mobile, @tablet and @desktop modifiers)
//
// Markup:
// <div class="u-text-center">Text center</div>
// <div class="u-text-center@mobile">Text center on mobile devices</div>
// <div class="u-text-center@tablet">Text center on tablet devices</div>
// <div class="u-text-center@desktop">Text center on desktop devices</div>
// <div class="u-text-uppercase">Text uppercase</div>
// <div class="u-text-capitalize">Text capitalize</div>
// <div class="u-text-strong">Text strong</div>
// <div class="u-text-letterspaced">Text letterspaced</div>
// <div class="u-text-small">Text small</div>
// <div class="u-text-large">Text large</div>
// <div class="u-text-x-large">Text x-large</div>
// <div class="u-text-xx-large">Text xx-large</div>
//
// Styleguide Utilities.Helpers.text

.u-text {
	&-center {
		text-align: center;
		@include responsive-versions {
			text-align: center;
		}
	}
	&-uppercase {
		text-transform: uppercase;
		@include responsive-versions {
			text-transform: uppercase;
		}
	}
	&-capitalize {
		text-transform: capitalize;
		@include responsive-versions {
			text-transform: capitalize;
		}
	}
	&-strong {
		font-weight: $font-weight-bold;
	}
	&-letterspaced {
		letter-spacing: $letter-spacing;
	}
	&-small {
		@include text-small;
		@include responsive-versions {
			@include text-small;
		}
	}
	&-large {
		@include text-large;
		@include responsive-versions {
			@include text-large;
		}
	}
	&-x-large {
		@include text-x-large;
		@include responsive-versions {
			@include text-x-large;
		}
	}
	&-xx-large {
		@include text-xx-large;
		@include responsive-versions {
			@include text-xx-large;
		}
	}
}

// Margins and paddings
//
// Margin and padding utilities (all benefit from @mobile, @tablet and @desktop modifiers)
//
// Markup:
// <div class="u-no-margin">A marginless element</div>
// <div class="u-no-padding">A paddingless element</div>
// <div class="u-margin-bottom-8">A .8rem bottom margin</div>
// <div class="u-margin-top-16">A 1.6rem top margin</div>
// <div class="u-margin-left-24">A 2.4rem left margin</div>
// <div class="u-margin-right-32">A 3.2rem right margin</div>
// <div class="u-margin-bottom-40">A 4rem bottom margin</div>
// <div class="u-margin-bottom-48">A 4.8rem bottom margin</div>
// <div class="u-margin-bottom-8@mobile">A .8rem bottom margin on mobile devices</div>
// <div class="u-margin-top-16@mobile">A 1.6rem top margin on mobile devices</div>
// <div class="u-margin-left-24@mobile">A 2.4rem left margin on mobile devices</div>
// <div class="u-margin-right-32@mobile">A 3.2rem right margin on mobile devices</div>
// <div class="u-margin-bottom-40@mobile">A 4rem bottom margin on mobile devices</div>
// <div class="u-margin-bottom-48@mobile">A 4.8rem bottom margin on mobile devices</div>
// <div class="u-padding-bottom-8">A .8rem bottom padding</div>
// <div class="u-padding-top-16">A 1.6rem top padding</div>
// <div class="u-padding-left-24">A 2.4rem left padding</div>
// <div class="u-padding-right-32">A 3.2rem right padding</div>
// <div class="u-padding-bottom-40">A 4rem bottom padding</div>
// <div class="u-padding-bottom-48">A 4.8rem bottom padding</div>
//
// Styleguide Utilities.Helpers.margins-and-paddings

.u-no-margin {
	margin: 0 !important;
}

.u-no-padding {
	padding: 0 !important;
}

@each $value in $spaces {
	@include spacing($value, '');
	@include mobile {
		@include spacing($value, \@mobile)
	}
	@include tablet {
		@include spacing($value, \@tablet)
	}
	@include desktop {
		@include spacing($value, \@desktop)
	}
}
