* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

input, button, input[type="submit"] {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input {
	padding: 0;
	border: none;
}
