.c-character {
	$block: &;
	&__avatar {
		width: $spacing-unit * 10;
		height: $spacing-unit * 10;
		background-size: cover;
		background-position: center center;
		box-shadow: 0 0 5rem 0 rgba(palette(black), .3);
		@include mobile {
			box-shadow: 0 0 2rem 0 rgba(palette(black), .1);
		}
	}
	&__title {
		color: palette(purple, light);
	}
	&__subtitle {
		color: palette(purple);
		@include text-small;
		text-transform: uppercase;
		letter-spacing: $letter-spacing;
		&--secondary {
			color: palette(purple, light);
			font-weight: $font-weight-bold;
		}
	}
	&--big {
		@mixin c-character--big {
			#{$block}__avatar {
				width: $spacing-unit * 15;
				height: $spacing-unit * 15;
			}
			#{$block}__title {
				@include text-large;
			}
		}
		@include c-character--big;
		@include responsive-versions {
			@include c-character--big;
		}
	}
}
