// Embeds
//
// Responsive embeds
//
// Markup:
// <div class="o-embed o-embed--16by9">
//     <iframe class="o-embed__item" src="https://www.youtube.com/embed/ZcmkJ7bwa-c"></iframe>
// </div>
// <div class="o-embed o-embed--4by3">
//     <iframe class="o-embed__item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d220449.36396436684!2d-97.89348665652048!3d30.307686290629675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b599a0cc032f%3A0x5d9b464bd469d57a!2sAustin%2C+Texas%2C+%C3%89tats-Unis!5e0!3m2!1sfr!2sfr!4v1497098023790"></iframe>
// </div>
//
// Styleguide Objects.embeds

.o-embed {
	position: relative;
	display: block;
	height: 0;
	&--16by9 {
		padding: 0 0 56.25% 0;
	}
	&--4by3 {
		padding: 0 0 75% 0;
	}
	&__item {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: none;
	}
}
